#header {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 36px;
    margin-top: 0px;
}

.form-inline {
    margin-top: 20px;
}

.card {
    width: 100%;
    margin-top: 20px;
}

.card-body {
    width: 100%;
}

#card-body {
    width: 100%;
}

#card-group {
    width: 100%;
    margin-top: 0px;
}

#forecast {
    margin-top: 20px;
}

h2 {
    margin-left: 15px;
}

.card-title1  {
    font-size: 12px;
}

.card-title2  {
    font-size: 12px;
}

.card-title3  {
    font-size: 12px;
}

.card-title4  {
    font-size: 12px;
}

.card-title5  {
    font-size: 12px;
}